EMAIL_FROM_ADDRESS="test@zingbretsen.com"
SMTP_USER_NAME:
SMTP_PASSWORD:
SMTP_SERVER="mail"
SMTP_PORT=25
SMTP_AUTHENTICATION="none"
SMTP_ENABLE_STARTTLS_AUTO="true"
SEND_EMAIL_IN_DEVELOPMENT="false"

